.reviews {
    padding: 103px 0 71px 0;
    &__wrapper {
        margin-top: 70px;
        display: flex;
		justify-content: center;
        align-items: center;
    }
    &__round {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 62px;
    }
    &__descr {
        width: 650px;
    }
    &__title {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
	&__subtitle {
        margin-top: 10px;
        color: #646464;
        font-size: 14px;
        font-weight: 300;
    }
	&__text {
        margin-top: 19px;
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
    }
}